# {{ ansible_managed }}

# Server options
server:
  user: {{ knot_user }}:{{ knot_group }}
{% for addr in knot_interfaces %}
  listen: {{ addr }}
{% endfor %}

{{ knot_log }}

{% if knot_statistics_enabled %}
{{ knot_statistics }}
{% endif %}

{{ knot_remote }}

{{ knot_acl }}

{{ knot_template }}

{{ knot_zone }}

