# {{ ansible_managed }}

# Server options
server:
  user: {{ knot_user }}:{{ knot_group }}
{% for addr in knot_interfaces %}
  listen: {{ addr }}
{% endfor %}

log:
{% for l in knot_log %}
  - target: {{ l.target }}
    any: {{ l.level }}
{% endfor %}

{{ knot_config }}