# {{ ansible_managed }}

# Server options
server:
  user: {{ knot_user }}:{{ knot_group }}
{% for addr in knot_interfaces %}
  listen: {{ addr }}
{% endfor %}

log:
{{ knot_log }}

{% if knot_statistics_enabled %}
statistics:
    {{ knot_statistics }}
{% endif %}

remote:
{{ knot_remote }}

acl:
{{ knot_acl }}

template:
{{ knot_template }}

zone:
{{ knot_zone }}

